.container{
    border: 1px solid #ccc;
    min-height: 50vh;
    width: 70vh;
    border-radius: 15px;
    margin: 5rem auto;
}

.container-general{
    padding: 2rem;
}

.container-general li {
    font-size: 3rem;
    margin-left: 20px;
}

.container-general2 li {
    font-size: 1rem;
}

.container-general ul{
    margin-left: 0;
}

#reset{
    width: 15rem;
    font-weight: bold;
    background-color: black;
}

#reset:hover{
    background-color: rgb(63, 62, 62);
}